<mat-drawer-container
class="min-h-full max-w-7xl mx-auto border-x"
[autosize]="true">
    <mat-drawer mode="side" opened class="p-6"
    style="background-color:'#EBF5FB'">
        <app-filters (showCategory)="onShowCategory($event)"></app-filters>
    </mat-drawer>
    <mat-drawer-content class="p-6" style="background-color:'#D6EAF8'" >
        <app-products-header (columnsCountChange)="onColumnsCountChange($event)"></app-products-header>
        <mat-grid-list
            gutterSize="16"
            [cols]="cols"
            [rowHeight]="rowHeight">
            <mat-grid-tile *ngFor="let product of products">
                <app-product-box class="w-full" [fullWidthMode]="cols === 1" [product]="product"></app-product-box>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-drawer-content>
</mat-drawer-container>